*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

.root{
    --font-family-description-adalaber: arial;
    --color-font-description-adalaber: #54585a;
}

h2{
font-family: OpenSans;
color: black;
text-align: center;
font-size: large;
}

h3{
    font-family: OpenSans;
    color: black;
    text-align: center;
    font-size: medium;
}
p{
    font-family: var(--font-family-description-adalaber);
    color: #54585a;
    text-align: center;
    font-weight: 200;
}

.fotoadalaber{
    width: 40px;
    height: 40px;
}

.logo-redsocial{
    width: 20px;
    height: 20px;
    color: #099d8d;
    align-items: center;
}