<footer class="footer">
    <div class="container" id="contact">
    <p class="footer-copy">Nombre del grupo &copy;2018</p>
</div>
<div class="contact-footer">
    <nav class>
    <ul class="footer_ul">
        <li><a href="#" class="link"><strong>equipo</strong></a></li>
        <li><a href="#" class="link"><strong>quienes somos</strong></a></li>
        <li><a href="#" class="link"><strong>contacto</strong></a></li>
    </ul>
</nav>
</div> 
<div class="f">
    <img class="footer_log2" src="./assets/images/logo-adalab.png" alt="logo-adalab">

</div>
</footer>
