    <header class="header">
        <h1 class="title">Peace of Mind</h1>

        <nav class="menu">
            <ul class="menu_list">
                <li><a href="../index.html#"class="menu_link">Equipo</a></li>
                <li><a href="../index.html#section2"class="menu_link">Quienes somos</a></li>
                <li><a href="../index.html#"class="menu_link">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main class="page-main">
        <section class="hero">
            <div class="container">
                <h2 class="hero-title">Susana, Darling, Ariadna y Yasmin. Creando un legado épico </h2>
            </div>
        </section>