<section class="section2-about-us"id=section2> 
    <div class="container">
        <h2 class="title-about-us"> QUIÈNES SOMOS </h2>

        <div class="photo_adalaber">
            <img src="../assets/images/fotoyazmin.jpg" alt="Photo Yazmin Jimenez">
        </div>
        <h3 class="name_adalaber"> Yasmin Jimènez </h3>
        <p class="description_adalaber"> Lorem ipsum dolor sit amet,consectetur adipiscing elit. Nunc rutrum ullamcorper mauris, vel convallis
        metus eleifened in. Cras hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi
        interdum neque et aliquam varius. </p>
        <div class="social_networks">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-brands fa-github-alt"></i>
            <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="photo_adalaber">
            <img src="../assets/images/fotosusana.jpg" alt="Photo Susana Morillo">
        </div>
        <h3 class="name_adalaber"> Susana Morillo</h3>
        <p class="description_adalaber"> Lorem ipsum dolor sit amet,consectetur adipiscing elit. Nunc rutrum ullamcorper mauris, vel convallis
        metus eleifened in. Cras hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi
        interdum neque et aliquam varius.</p>
        <div class="social_networks">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-brands fa-github-alt"></i>
            <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="photo_adalaber">
            <img src="../assets/images/foto-pantera-min.jpeg" alt="Photo Ariadna ">
        </div>
        <h3 class="name_adalaber"> Ariadna Ruiz </h3>
        <p class="description_adalaber"> Lorem ipsum dolor sit amet,consectetur adipiscing elit. Nunc rutrum ullamcorper mauris, vel convallis
        metus eleifened in. Cras hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi
        interdum neque et aliquam varius.</p>
        <div class="social_networks">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-brands fa-github-alt"></i>
            <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="photo_adalaber">
            <img src="../assets/images/fotodarling.jpg" alt="Photo Darling Rayran">
        </div> 
        <h3 class="name_adalaber"> Darling Rayran </h3>
        <p class="description_adalaber"> Lorem ipsum dolor sit amet,consectetur adipiscing elit. Nunc rutrum ullamcorper mauris, vel convallis
        metus eleifened in. Cras hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi
        interdum neque et aliquam varius. </p>
        <div class="social_networks">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-brands fa-github-alt"></i>
            <i class="fa-solid fa-envelope"></i>
        </div>
    </div>
</body>
</html>