<section>

    <div class="container2" id="section1">
        <div class="triangle"></div>

        <article class="Atribute">

            <h2 class="Atributes">Fortalezas</h2>
            <p>Somos un equipo con muchas ganas de aprender y finalizar el boptcamp con nociones de programación suficientes para desempeñarlas en un trabajo. Aunque nos hayamos venido abajo en varias ocasiones, siempre nos levantamos con más fuerza y ánimo para finalizar la tarea o proyecto.</p>

            <h2 class="Atributes">Debilidades</h2>

            <p>La principal debilidad que tenemos, es poder compaginar el curso con la vida diaria, ya que algunas "mamis" tienen el tiempo limitado para realizar proyecto, preparar la clase invertida y hacer los ejercicios. Pero de las debilidades salen a flote las fotalezas.</p>
        </article>
    </div>
</section>