.footer-copy{
  align-items: center;
  color: #b8b8b9;
  display: flex; 
  flex-direction: column; 
  font-size: 14px;
  padding-bottom: 20px;
}
.contact-footer{
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.5;
  color: grey;
  text-align: center;
  text-decoration: none;
  padding-bottom: 20px;

}
.log2{
  width: 115.9px;
  height: 45px;
  display: flex;
  align-items: center;
  margin-left: 100px;
 }
 .link{
  list-style: none;
  text-decoration: none;
  color: grey;
 }

@media all and(min-width: 768px){
  .nav{
    display: none
}
}


