.container {
  margin:0 1.5rem;
}
.header{
  height: 6rem;
  margin: 0;
  width: auto;
  text-transform: uppercase;
  opacity: 90%;
  font-weight: bold;
  font-size: 1.6rem;
  font-family: $font;
  background-color: #099d8d;
  color: #ffffff;
  @media (min-width: 768px){
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 85%;
    background-color: #099d8d;
    @media (min-width:1200px){
      justify-content: space-evenly;
    }
  }

}

.title{
  margin: 0;
  display: flex;
  height: 6rem;
  font-family: $font;
  align-items: center;
  justify-content: space-around;
  font-size: 1.6rem;
  @media (min-width: 768px){
    width: 100vw;
    height: 100%;
    justify-content:center;
    @media (min-width:1200px){
      justify-content: space-evenly;
    }
  }
}

.menu{
    height: 4rem;
    width: 100%;
    font-family: $font;
    text-transform: uppercase;
    background-color: #14d9c4;
    display: flex;
    font-size: 16px;
    @media (min-width: 768px){
      background-color: #099d8d;
      width: 100vw;
      height: 100%;
    }
}

.menu_list{
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;

      @media (min-width:768px){
        justify-content: space-around;
        align-items: center;
        padding-top: 17px;
        text-transform: uppercase;
        
      }
}

.menu_link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: $font;
    @media (min-width:768px){
      justify-content: space-around;
      align-items: center;
      padding-top: 6px;
      text-transform: uppercase;
    }
}

.hero{
  width: 100vw;
  height: 100vh;
  background-image: url(https://www.portafolio.co/files/article_multimedia/uploads/2021/08/27/612993de37c2c.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

}

.hero .container {
  height: 100%;
  display: flex;
  align-items: flex-end;
  font-size: 18px;

}

.hero-title{
  padding: 1rem;
  margin: 0 1.5rem;
  display: flex;
  font-family: $font-title;
  justify-content: center;
  font-size: 1.6rem;
  background-color: #ffffff;
  color:black;
  transform: translateY(50%);
  flex-grow: 1;
  @media all and (min-width:768px){
    margin: 70rem 40rem 0 4.6rem;
    font-size: 2rem;
  }

}