.section2-about-us {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.958);
}

.title-about-us {
    font-family: rubik-medium;
    color: #099d8d;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    padding-top: 30px;
}

.photo_adalaber {
    width: 180px;
    height: 180px;
    margin: 0 55px 15px;
    border-radius: 4px;
    border: 5px solid grey;
    position: center;
    padding-top: 10px;
}

.name_adalaber {
    top: 10px;
    font-family: Open Sans;
    color: black;
    font-size: 20px;
    line-height: 45px;

}
.description_adalaber {
    font-family: Open Sans;
    color: #54585a;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    padding-top: 10px;
}

.social_networks {
    color: #099d8d;
    size: 16px;
    line-height: 30px;
    padding-top: 10px;
    flex-direction: row;
    gap: 10px;
}

@media (min-width: 768px){
    display: flex;
    .photo_adalaber{
        justify-content: right;

    }
    .description_adalaber{
        justify-content: left;

    }
    .social_networks{

    }
  }