    <header class="page-header">
        <div class="container"></div>
        <h1 class="page-header-title">Peace of Mind</h1>
        <nav class="header">
            <ul class="header-container">
                <li><a href="#" class="Equipo">Equipo</a></li>
                <li><a href="#" class="Quienes-somos">Quienes somos</a></li>
                <li><a href="#" class="Contacto">Contacto</a></li>
            </ul>
        </nav>
        </div>
    </header>
    <main class="page-main">
        <section class="hero">
            <div class="container">
                <h2 class="hero-title">Susana, Darling, Ariadna y Yasmin. Creando un legado épico </h2>
            </div>
        </section>